.pagination {
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
  }
  
  .pagination > span{
    padding: 15px 20px;
    /* border: 1px solid gray; */
    cursor: pointer;
    border-radius: 5px;
  }
  
  .pagination__disable{
    opacity: 0;
  }
  
  .page__selected{
    background-color: lightgreen
  }